* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0d1b2a;
  color: #ffffff;
  line-height: 1.6;
}

/* Section Styling */
.section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
  color: #7fb5ff;
}


p {
  font-size: 1.2rem;
  color: #cccccc;
}

hr {
  width: 80%; /* Adjust the width as needed */
  margin: 20px auto; /* Center the hr and add margin on top and bottom */
  border: 1px solid #ccc; /* Customize the border color and style */
}