.chartContainer {
    display: flex;
    justify-content: space-around;
}

.skillsChartDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vh;
}


@media (max-width: 768px) { /* Apply styles for mobile screens */
    .chartContainer {
        flex-direction: column; /* Stack the charts on mobile */
        align-items: center; /* Center the items */
    }

    .skillsChartDiv {
        width: 80vw;
        height: 75vw;
    }

}


