.chartContainer {
    display: flex;
    justify-content: space-around;
}

.skillsChartDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vh;
}

.leetcodeChartDiv {
    margin-top: 2rem;
    width: 100%; /* Make the chart span the full width */
}
